---
---
@import "{{ site.theme }}";

body {
  background-color: #121212;
}



h1 {
  color: paleturquoise;
}

h2 {
  color: paleturquoise;
}



p {
  color: lightcyan;
}

strong {
    color: lightcyan;
}

.page-header {
  color: paleturquoise;
  margin:0 0 40px;
}


ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: lightcyan; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}


a {
  color: lightcyan;
}
/* mouse over link */
a:hover {
  color: silver;
}
/* selected link */
a:active {
  color: slategray;
}
